@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
  font-family: Roboto, sans-serif;
  margin: 10px;
  height: 100%;
  overflow: hidden;
  background: #fafafa;
}

h1 {
  color: rgba(0,0,0,.87);
  font-size: 24px;
}